footer.footer.py-5
  .container.pt-md-2.pt-lg-3.pt-xl-4
    .row.pb-5.pt-sm-2.mb-lg-2
      .col-md-12.col-lg-3.pb-2.pb-lg-0.mb-4.mb-lg-0
        a.navbar-brand.py-0.mb-3.mb-lg-4(href='/bg/index.html')
          span.text-primary.flex-shrink-0.me-2
            img(src=`${assetPath}assets/img/logo.png` width='150' height='50')
        p.fs-sm.pb-2.pb-lg-3.mb-3 Изграждаме вашия бранд в технологичното пространство.
      .col-sm-3.col-lg-2.offset-xl-1.mb-4.mb-sm-0
        ul.nav.flex-column
          li: a.nav-link.py-1.px-0(href='/bg/services.html') Услуги
          li: a.nav-link.py-1.px-0(href='/bg/portfolio.html') Портфолио
          li: a.nav-link.py-1.px-0(href='/bg/privacy-policy.html') Политики
      .col-sm-4.col-lg-2.mb-4.mb-sm-0
        ul.nav.flex-column
          li: a.nav-link.py-1.px-0(href='mailto:contacts@ztcodecraft.com') contacts@ztcodecraft.com
          li: a.nav-link.py-1.px-0(href='tel:+359879227393') +359 879227393
      .col-sm-5.col-lg-4.col-xl-3.offset-lg-1
        h3.h6.mb-2 Последвайте ни в социалните мрежи
        .d-flex
          a.btn.btn-icon.btn-sm.btn-secondary.btn-facebook.rounded-circle.me-3(target='_blank' href='https://www.facebook.com/ztcodecraft')
            i.ai-facebook
          a.btn.btn-icon.btn-sm.btn-secondary.btn-instagram.rounded-circle.me-3(target='_blank' href='https://www.instagram.com/ztcodecraft/')
            i.ai-instagram
          a.btn.btn-icon.btn-sm.btn-secondary.btn-linkedin.rounded-circle(target='_blank' href='https://www.linkedin.com/company/zt-code-craft')
            i.ai-linkedin
    p.fs-sm.mb-0
      span.opacity-70 &copy; Всички права запазени. Създадено от &nbsp;
      a.nav-link.d-inline.fw-normal.p-0(href='/bg/index.html' rel='noopener') ZT Code Craft
