extends ../../layouts/_layout-en.pug

block vars
  - var title = 'ZT Code Craft | Magenta Zine'
  - var assetPath = '../../'
  - var altLangUrl = '/bg/portfolio/magenta-zine.html'

block extraStyles
  link(rel='stylesheet' media='screen' href='../../assets/vendor/aos/dist/aos.css')
  link(rel='stylesheet' media='screen' href='../../assets/vendor/swiper/swiper-bundle.min.css')

block content
  //- Hero
  section.position-relative.mb-5
    .bg-secondary.position-absolute.top-0.end-0.w-50.h-100.d-none.d-lg-block
    .bg-secondary.position-absolute.top-0.end-0.w-100.h-100.d-lg-none
    .container.position-relative.zindex-2.py-5.pb-lg-0
      nav(aria-label='breadcrumb')
        ol.pt-lg-2.pb-1.breadcrumb
          li.breadcrumb-item: a(href='/index.html') Home
          li.breadcrumb-item: a(href='/en/portfolio.html') Portfolio
          li.breadcrumb-item.active(aria-current='page') Magenta Zine
      .d-lg-flex.align-items-center.pt-3.pb-xxl-5
        img.d-block.order-lg-2.me-auto.me-lg-0.ms-auto(src='../../assets/img/portfolio/magenta/list.png' width='480' alt='Image')
        .order-lg-1.text-center.text-lg-start.pe-lg-4.py-4.py-md-5
          h1.display-2.text-uppercase.pb-3.pb-lg-4 Digital Makeover: Empowering Writers
          p.fs-lg.mx-auto.mx-lg-0.mb-0(style='max-width: 530px;') Crafting an Inclusive Web Platform that Celebrates Creativity, Empowers Writers, and Drives Monetization.
      ul.nav.justify-content-center.justify-content-lg-start.mx-n2.pt-lg-5.mb-0
        li.nav-item.me-3: a.nav-link.p-2(href='https://www.instagram.com/magentazine_com/' target='_blank') Instagram

  //- Content
  section.container.overflow-hidden.pt-lg-2.pt-xl-4.pt-xxl-5
    .row.py-sm-3.py-md-4.py-lg-5
      //- Sticky sidebar
      .col-md-3.col-lg-2
        .d-flex.d-md-block.flex-wrap.position-sticky.top-0
          .pb-3.mb-2.mb-lg-4.me-5.me-md-0
            h2.fs-base.fw-normal.text-muted.mb-2 Company
            ul.list-unstyled.fs-lg.fw-semibold.text-dark.mb-0
              li.d-block.py-1 Magenta Zine
              li.d-block.py-1 5-10 employees
              li.d-block.py-1 Sofia, Bulgaria
              li.d-block.py-1: a.text-dark(href='https://ztcodecraft.github.io/magenta-zine/' target='_blank') Visit website
          .pb-3.mb-2.mb-lg-4.me-5.me-md-0
            h2.fs-base.fw-normal.text-muted.mb-2 Indusrty
            ul.list-unstyled.fs-lg.fw-semibold.text-dark.mb-0
              li.d-block.py-1 Digital Publishing and Literary Arts
          .pb-3.mb-2.mb-lg-4.me-5.me-md-0
            h2.fs-base.fw-normal.text-muted.mb-2 Services
            ul.list-unstyled.fs-lg.fw-semibold.text-dark.mb-0
              li.d-block.py-1 Web Platform Development
              li.d-block.py-1 Content Management
              li.d-block.py-1 Feature Enhancements
              li.d-block.py-1 Brand Integration
          .pb-3.mb-2.mb-lg-4
            h2.fs-base.fw-normal.text-muted.mb-2 Time spent
            ul.list-unstyled.fs-lg.fw-semibold.text-dark.mb-0
              li.d-block.py-1 2023, 3-4 months

      //- Description
      .col-md-9.offset-lg-1
        .ps-md-4.ps-lg-0
          .border-bottom.pb-3.pb-sm-4.pb-lg-5.mb-4
            p.text-dark.lead.mb-md-2.mb-lg-3.mb-xl-4 Discover how we transformed Magenta Zine's online hub, streamlining content creation, empowering writers, and strategically boosting monetization efforts for lasting success.
          h2.h1.pt-2.pt-sm-3.pt-md-4.pt-lg-5.pb-2 About the client
          p.fs-lg Magenta Zine, dedicated to amplifying the voices of women and non-binary writers, is a digital hub where literature and art converge. Our collaboration resulted in an online space that serves as both a dynamic zine and a central platform for diverse creators. Magenta Zine invites both emerging and seasoned writers to share, discuss, and create, fostering a vibrant community within the contemporary literary landscape.
          h2.h1.pt-3.pt-sm-4.pt-xl-5.pb-2 The challenge
          p.fs-lg Magenta Zine faced the challenge of establishing a user-friendly web platform that not only celebrated the creative works of women and non-binary writers but also empowered business owners to effortlessly create and edit content using Markdown files. Additionally, aligning the digital space with their mission required thoughtful integration of branding elements, from magenta-inspired colors to an engaging pink palette. Balancing aesthetic appeal with practical functionality, Magenta Zine sought to divide their diverse content into distinct sections while incorporating features like social media sharing, newsletter sign-ups, and donation integration to support their monetization goals.
          h2.h1.pt-3.pt-sm-4.pt-xl-5.pb-2 The solution
          p.fs-lg.mb-0 In response to Magenta Zine's challenge, we crafted a web platform that seamlessly combines visual aesthetics with functional utility. We provided user guides and education to ensure a smooth transition for business owners managing content through Markdown files. Aligning with their mission, we curated branding colors centered around magenta and complemented by a harmonious pink palette. Our collaboration extended to refining the platform's layout with two revision cycles, optimizing the alignment of post types—stories, poetry, and articles. Additionally, we introduced a dedicated section for featured posts, one-click social media sharing, newsletter sign-ups, and a donations integration button, strategically contributing to Magenta Zine's monetization efforts. The inclusion of Google Analytics further empowered them to track user engagement and refine their digital strategy.

    //- Results
    .row.pt-1.pt-sm-3.pt-md-4.pb-5.mb-md-2.mb-lg-3.mb-xl-4.mb-xxl-5
      .col-md-11.col-lg-9.col-xl-8.pb-1.pb-sm-3.pb-md-4
        h2.h1.pb-sm-2.pb-lg-3 Results
        p.fs-lg.mb-0 Magenta Zine now enjoys a user-friendly space where writers can effortlessly share their creative works, while business owners benefit from <b>simplified content creation and editing.</b> With the incorporation of strategic features like <b>social media sharing, newsletter sign-ups, and a donations integration button</b>, Magenta Zine has successfully initiated monetization efforts and leverages <b>Google Analytics</b> to track and refine user engagement.

  //- Parallax background image
  section.jarallax(data-jarallax data-speed='0.6')
    .ratio.ratio-16x9
    .jarallax-img(style='background-image: url(../../assets/img/portfolio/magenta/wide-mockup.png);')

  //- Testimonials
  section.container.position-relative.zindex-2.py-5.mt-n1.mt-sm-0.mb-1.my-md-3.my-lg-3.my-xl-4.my-xxl-5
    .row.py-md-4.py-lg-5
      .col-md-9.col-lg-7.order-md-2
        .swiper(data-swiper-options='{"spaceBetween":40,"loop":true,"bindedContent":true,"autoHeight":true,"pagination":{"el":".testimonials-count","type":"fraction"},"navigation":{"prevEl":"#prev-testimonial","nextEl":"#next-testimonial"}}')
          div
            div
              .d-flex.d-md-none.pt-3.mb-3
                i.ai-quotes.d-md-none.text-primary.display-3.mt-n2
                .ps-3
                  h3.h5.mb-0 Zlatitsa Markova
                  p.text-muted.mb-0 Owner of Magenta Zine
              h2.mb-lg-4 Awesome and professional work!
              p.lead.mb-0 The team understood exactly what I wanted for my website and communicated clearly with me through every step of the process. They accommodated every change I wanted to make and were always there when I had a question. I would definitely like to work with them again.
      .col-md-3.offset-lg-1.order-md-1.mt-n3
        i.ai-quotes.d-none.d-md-block.text-primary.ms-n2.mb-1(style='font-size: 150px;')
        .binded-content.h-auto.d-none.d-md-block
          .binded-item.h-auto.active#testimonial-1
            h3.h5.mb-1 Zlatitsa Markova
            p.text-muted.mb-0 Owner of Magenta Zine

  //- Next projects
  section.container.pb-5.mb-2.mb-lg-3.mb-xl-4.mb-xxl-5
    h2.h1.pb-3.pb-lg-4 Next projects
    .row.row-cols-1.row-cols-sm-2.align-items-end.mb-2.pb-md-4
      .col
        .zoom-effect.position-relative.border-bottom.pb-3(style='max-width: 550px;')
          .zoom-effect-wrapper
            .zoom-effect-img: img(src='../../assets/img/portfolio/partdepot/grid.png' alt='Image')
          .pt-4.mt-lg-2
            h2.h4.mb-2: a.stretched-link(href='partdepot.html') PArt Depot
            .d-flex.justify-content-between.fs-lg.text-muted
              span Web Development, Schedule Integration
              span 2023

block extraScripts
  script(src='../../assets/vendor/aos/dist/aos.js')
  script(src='../../assets/vendor/jarallax/dist/jarallax.min.js')
  script(src='../../assets/vendor/swiper/swiper-bundle.min.js')
