block vars
  - var title = 'ZT Code Craft | 404 Error'
  - var assetPath = ''

doctype html
html(lang='en')
  head
    include partials/_head.pug
  //- Body
  body
    //- Page loading spinner
    include partials/_preloader.pug
    //- Page wrapper
    main.page-wrapper
      //- Page content
      .container.overflow-hidden.pb-5
        //- Dangling lamp
        .d-flex.justify-content-center.px-5.mt-n1
          img.d-dark-mode-none(src='assets/img/404/lamp-light.png' width='348' alt='Lamp' style='transform-origin: 50% 0; animation: swinging 3.5s ease-in-out forwards infinite;')
          img.d-none.d-dark-mode-block(src='assets/img/404/lamp-dark.png' width='348' alt='Lamp' style='transform-origin: 50% 0; animation: swinging 3.5s ease-in-out forwards infinite;')
        //- Text + CTA
        .d-flex.justify-content-center.pb-5.mb-md-2.mb-lg-3.mb-xl-4.mb-xxl-5
          div(style='max-width: 420px')
            .d-none.d-sm-block(style='margin-top: -127px')
            .d-sm-none(style='margin-top: -25%')
            .d-flex.align-items-center.mb-4
              h1.display-1.mb-0 404
              p.text-dark.lead.ps-4.mb-0 Whoops! That page is missing...
            .d-flex.justify-content-md-center
              a.btn.btn-lg.btn-primary.rounded-1.me-2.me-sm-3(href='/index.html') Go back home
    //- Back to top button
    include partials/_scroll-top.pug
    //- Vendor scripts
    script(src='assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js')
    //- Main theme script
    script(src='assets/js/theme.min.js')
