extends ../layouts/_layout-bg.pug

block vars
  - var title = 'ZT Code Craft | Правила за поверителност'
  - var assetPath = '../'
  - var altLangUrl = '/en/privacy-policy.html'

block content
  include ../partials/_privacy-content-bg.html
