extends ../layouts/_layout-en.pug

block vars
  - var title = 'ZT Code Craft | Privacy Policy'
  - var assetPath = '../'
  - var altLangUrl = '/bg/privacy-policy.html'

block content
  include ../partials/_privacy-content-en.html
