//- Default page variables — override via "block vars" in child pages
block vars
  - var title = 'ZT Code Craft'
  - var description = 'ZT Code Craft - Website development and brand establishment'
  - var assetPath = ''
  - var altLangUrl = '/bg/index.html'

doctype html
html(lang='en')
  head
    include ../partials/_head.pug
  //- Body
  body
    //- Page loading spinner
    include ../partials/_preloader.pug
    //- Page wrapper
    main.page-wrapper.bg-secondary
      include ../partials/_navbar-en.pug
      //- Page content
      block content
    //- Footer
    include ../partials/_footer-en.pug
    //- Back to top button
    include ../partials/_scroll-top.pug
    //- Vendor scripts: js libraries and plugins
    script(src=`${assetPath}assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js`)
    script(src=`${assetPath}assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js`)
    block extraScripts
    //- Main theme script
    script(src=`${assetPath}assets/js/theme.min.js`)
